version: '3.8'
services:
  laravel:
    build:
      context: ./back-end
    container_name: laravel_app
    working_dir: /var/www/html
    volumes:
      - ./back-end:/var/www/html
    ports:
      - "8080:80"
    depends_on:
      - db
    environment:
      - DB_HOST=db
      - DB_DATABASE=laravel
      - DB_USERNAME=laravel
      - DB_PASSWORD=secret

  react:
    build:
      context: ./front-end
    container_name: react_app
    working_dir: /app
    volumes:
      - ./front-end:/app
      - /app/node_modules
    ports:
      - "3000:3000"

  db:
    image: mysql:8.0
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_DATABASE: laravel
      MYSQL_USER: laravel
      MYSQL_PASSWORD: secret
      MYSQL_ROOT_PASSWORD: rootsecret
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql


volumes:
  db_data:
